<!doctype html>
<html>
  <body>
    <h2>List of Docker Swarm services and corresponding tasks</h2>
    
    <table border = 1>
    {% for service in services %}
    <tr>
      <td>Service: <a href="/logs/service/{{ service['id'] }}">{{ service['name'] }}</a></td>
    </tr>
      {% for task in service['tasks'] %}
      <tr>
        <td>--> Task: <a href="/logs/task/{{ task['id'] }}">{{ task['id'] }}</a></td>
      </tr>
      {% endfor %}
    </tr>
    {% endfor %}
    </table>

  </body>
</html>
